<mat-toolbar color="primary">
    <a>Stone Paper Scissors</a>
    <a [ngClass]="playedGames.length > 0 ? 'playedGames' : 'playedGamesDisabled'" (click)="openDialog()">Played
      Games</a>
</mat-toolbar>

<div class="content">
  <mat-card>
    <mat-card-content>
      <div class="content1">
        <h2> You</h2>
        <button mat-fab color="primary" class="score">{{playerScore}}</button>
      </div>

      <h3> Choose your weapon: </h3>
      <div class="flex-container flex-center">
        <fa-icon (click)="playStone()" size="5x" class="fa-weaponUser" [icon]="faHandRock"></fa-icon>
        <fa-icon (click)="playPaper()" size="5x" class="fa-weaponUser" style="margin-left: 10%"
                 [icon]="faHandPaper"></fa-icon>
        <fa-icon (click)="playScissor()" size="5x" class="fa-weaponUser" style="margin-left: 10%"
                 [icon]="faHandScissors"></fa-icon>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div class="content1">
        <h2>Computer</h2>
        <button mat-fab color="accent" class="score">{{computerScore}}</button>

      </div>
      <br><br>
      <div *ngIf="gameResponse?.computerChoice == 'STONE'">
        <fa-icon size="5x" class="fa-weaponComputer" [icon]="faHandRock"></fa-icon>
      </div>
      <div *ngIf="gameResponse?.computerChoice == 'PAPER'">
        <fa-icon size="5x" class="fa-weaponComputer" [icon]="faHandPaper"></fa-icon>
      </div>
      <div *ngIf="gameResponse?.computerChoice == 'SCISSORS'">
        <fa-icon size="5x" class="fa-weaponComputer" [icon]="faHandScissors"></fa-icon>
      </div>
    </mat-card-content>
  </mat-card>

</div>
<mat-card class="resultInfo" *ngIf="showResult">
  <div *ngIf="gameResponse">
    <div class="flexItem">
      <h2>Your choice: {{gameResponse.userChoice | titlecase}}</h2>
    </div>
    <div class="flexItem">
      <h2>Computer choice: {{gameResponse.computerChoice | titlecase}}</h2>
    </div>
    <div class="flexItem">
      <h2>Result: {{gameResponse.result | titlecase}} </h2>
    </div>
    <div class="flexItem">
      <mat-button-toggle (click)="resetGameSession()" style="margin-bottom: 2%">Reset session</mat-button-toggle>
    </div>
  </div>
</mat-card>
